*+html {
  margin:0px;
  padding:0px;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, header, footer, section, nav {
  margin: 0;
  padding: 0;
}
h1, h2, h3, h4, h5, h6 {
  font-weight:normal;
  margin:0px;
  padding:0px;
}
img {
  border:0px;
  outline:none;
  max-width: 100%;
}
p {
  margin:0px;
}
ul li, ol li {
  margin:0px;
  padding:0px;
  list-style:none;
}
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
.hidden {
  display: none !important;
}
.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}
.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a, a:visited, a:hover, a:active {
    text-decoration: none;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
ul{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
}
button:focus-within, button:focus, button:active, a:hover, a:active, a:focus, select:hover, select:active, select:focus, option:hover, option:active, option:focus {
  text-decoration: none;
  outline: 0;
}
ul{padding: 0; margin: 0;}








body{
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  max-width: 100%;
}
section{
  position: relative;
  padding: 50px 0;
}
header {
  position: relative;
  z-index: 3;
  background: transparent;
  color: #fff;
}

/*section1*/
.section1{
  padding-top: 5px;
  min-height: 600px;
}
.logo{}
.logo img{
  max-width: 200px;
}



.bootstrap-carousel {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  overflow: hidden;
}
.bootstrap-carousel::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  z-index: 1;
  background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0.81), rgba(0, 0, 0, 0.56));
}


.bootstrap-carousel .carousel {
  max-height: 600px;
}
.bootstrap-carousel .carousel-indicators li {
  width: 12px;
  height: 12px;
  background-color: transparent;
  border: 1px solid #5ab447;
  border-radius: 50%;
}
.bootstrap-carousel .carousel-indicators .active {
  opacity: 1;
  background-color: #5ab447;
}
.bootstrap-carousel .carousel-indicators {
  margin-bottom: 35px;
}

.header-top{}
.header-top h5 {
  font-weight: 500;
}
.header-top .social-icons{
  padding: 10px 0;
}
.header-top .social-icons a {
  border: 2px solid #5aab33;
  color: #5aab33;
  border-radius: 40px;
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  padding-top: 2px;
  font-size: 22px;
  margin-left: 10px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.header-top .social-icons a:hover {
  border: 2px solid #fff;
  color: #fff;
}
.header-top .members-area {
  border: 1px solid transparent;
  border-radius: 20px;
  background-color: #5aab33;
  font-size: 12px;
  padding: 5px 14px;
  color: #fff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.header-top .members-area:hover {
  border: 1px solid #5aab33;
  color: #5aab33;
  background-color: #fff;
}



.navbar-light .navbar-nav .nav-link {
  color: white;
  padding: 8px 0;
  text-transform: uppercase;
  display: inline;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: #5aab33;
}
.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
  color: #fff;
}
.navbar-light .navbar-nav .active > .nav-link{
  border-bottom: 1px solid #fff;
}
.navbar-light .dropdown-item.active, .dropdown-item:active {
  background-color: #5ab447;
}
.navbar-light .dropdown:hover>.dropdown-menu {
  display: block;
}


.banner-area {
  max-width: 80%;
  margin: 9% auto 0;
  text-align: center;
}
.slow-steady-title {
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 20px;
  line-height: 35px;
}
.slow-steady-title span{
  color: #5aab33;
}








/*section2*/
.section2{}
.s-brdr {
  border-bottom: 2px solid #5aab33;
  width: 35px;
  display: block;
  margin: 30px 0 25px;
}
.s2bg1 {
  position: absolute;
  z-index: -1;
  max-width: 250px;
  bottom: -31px;
  left: -64px;
}
.s2bg2 {
  position: absolute;
  z-index: -1;
  max-width: 200px;
  bottom: -50px;
  left: -100px;
}
.contact-us span{
  position: relative;
  z-index: 3;
}
.contact-us {
  position: relative;
  background: #5aab33;
  color: #fff;
  text-transform: uppercase;
  padding: 10px 20px;
  margin: 50px 0 0;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  border: 1px solid transparent;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.contact-us:hover{
  border: 1px solid #5aab33;
  color: #5aab33;
}
.contact-us::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
  border: 1px solid transparent;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -webkit-transform: scale(0);
  transform: scale(0);
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
}
.contact-us:hover::after{
  -webkit-transform: scale(1);
  transform: scale(1);
}
.s2-left-desc p {
  padding-bottom: 30px;
}


.claire-calkin {
  margin-left: auto;
  position: relative;
  display: flex;
  justify-content: flex-end;
  max-width: 400px;
}
.claire-calkin .claire-calkin-desc {
  background: #5aab33;
  text-align: center;
  padding: 30px;
  border-radius: 50%;
  position: absolute;
  width: 320px;
  height: 320px;
  bottom: -160px;
  left: 50%;
  margin-left: -160px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  color: #fff;
  font-weight: 500;
  -webkit-transition: 0.3s;
  transition: 0.4s;
  -webkit-transform: scale(1.0);
  transform: scale(1.0);
  border: 1px solid transparent;
}
.claire-calkin .claire-calkin-desc:hover{
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  border: 1px solid #000;
}
.claire-calkin img{
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-transform: scale(1.0);
  transform: scale(1.0);
}
.claire-calkin img:hover{
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
.claire-calkin-desc p strong{
  display: block;
}






/*section3*/
.section3 {
  background-image: linear-gradient(#f9f9f9 10%, 30%, white 90%);
  padding-bottom: 20px;
}
.blocks {
  display: flex;
  flex-wrap: wrap;
  align-items: first baseline;
  justify-content: space-between;
}
.blocks .block {
  max-width: 32%;
  margin-bottom: 40px;
}
.blocks .block h4 {
  font-weight: 600;
  color: #000;
  font-size: 18px;
  display: block;
  margin: 25px 0 20px;
}
.blocks .block a {
  color: #5aab33;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
  margin-top: 14px;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.blocks .block a:hover{
  color: #000;
}
.blocks .block .block-imgs {
  position: relative;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
.blocks .block .hover-imgs{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(90, 171, 51, 0.65);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  -webkit-transform: scale(0);
  transform: scale(0);
}
.blocks .block .block-imgs:hover>.hover-imgs {
  -webkit-transform: scale(1);
  transform: scale(1);
}
.blocks .block .hover-imgs .hover-img1{
  max-width: 170px;
}
.blocks .block .hover-imgs .hover-img2{
  max-width: 25px;
}
.blocks .block .hover-imgs a {
  position: absolute;
  right: 20px;
  bottom: 18px;
  width: 44px;
  height: 44px;
  border: 2px solid #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}









/*footer*/
footer.footer {
  position: relative;
  background-image: url(../images/footerbg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center right;
  color: #fff;
  padding: 40px 0 25px;
}
footer.footer::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to left,rgba(90, 171, 51, 0.57), rgb(90, 171, 51));
  top: 0;
  left: 0;
  right: 0;
  z-index: 0;
}
footer.footer .container{
  z-index: 3;
  position: relative;
}
footer.footer .footer-top{}
footer.footer .footer-top .form-control {
  border-radius: 0;
  border: 1px solid transparent;
}
footer.footer .footer-top h1 {
  font-size: 30px;
  font-weight: 600;
  margin: 0 0 10px;
}
footer.footer .footer-top form {
  max-width: 40%;
  margin: 20px 0 20px;
}
footer.footer .footer-brdr {
  width: 100%;
  border-bottom: 1px solid #c1c1c1;
  margin: 28px 0;
  display: block;
  z-index: 1;
  position: relative;
  height: 1px;
}
footer.footer .footer-social a {
  border: 2px solid #fff;
  color: #fff;
  border-radius: 40px;
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  padding-top: 2px;
  font-size: 22px;
  margin-right: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
footer.footer .footer-social a:hover {
  border: 2px solid #000;
  color: #000;
}
footer.footer .footer-link {
  display: flex;
  color: #fff;
  margin-top: 20px;
  flex-wrap: wrap;
}
footer.footer .footer-link li{}
footer.footer .footer-link li a {
  display: inline-block;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 14px;
  margin: 0 1rem;
  padding: 0.5rem 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
footer.footer .footer-link li:first-child a{
  padding-left: 0;
  margin-left: 0;
}
footer.footer .footer-link .nav-item.active a{
  border-bottom: 1px solid;
  border-color: #fff;
}
footer.footer .footer-link li a:hover, footer.footer .footer-link .nav-item.active a:hover{
  color: #000;
  border-color: #000;
}
footer.footer .submit-btn {
  position: relative;
  color: #fff;
  background: transparent;
  border: 1px solid #fff;
  padding: 7px 25px;
  text-transform: uppercase;
  font-weight: 600;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
footer.footer .submit-btn:hover{
  background: #fff;
  color:  #5aab33;
}







/*Responsive*/
@media (min-width:992px) {
 .navbar-expand-lg {
  padding-left: 0;
  padding-right: 0;
 }
}
@media (max-width: 1200px){
.bootstrap-carousel {
  position: relative;
}
header, .navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
  color: #1c1b1b;
}
.navbar-light .navbar-nav .nav-link {
  color: #1c1b1b;
  padding: 8px 0;
  text-transform: uppercase;
  display: inline;
}
.header-top .social-icons a:hover {
  border: 2px solid #000;
  color: #000;
}
.navbar-light .navbar-nav .active > .nav-link {
  border-bottom: 1px solid #1c1b1b;
}
header {
  padding-bottom: 15px;
}
.slow-steady-title {
  font-size: 20px;
  margin-bottom: 10px;
  line-height: 24px;
}
.banner-area {
  max-width: 100%;
  margin: 7% auto 0;
}
.header-top h5 {
  font-size: 16px;
}













}

@media (max-width: 991px){
  .navbar-light .navbar-nav .nav-link {
    padding: 3px 0;
    margin-bottom: 7px;
    display: inline-block;
  }
  .navbar-light .dropdown:hover > .dropdown-menu {
    display: inherit;
  }
section {
  padding: 20px 0;
}
.contact-us {
  margin: 20px 0 0;
  font-size: 14px;
}





}
@media (max-width: 767px){
  .s2-left-desc p {
    padding-bottom: 15px;
  }
.s2-left-desc {
  padding-bottom: 20px;
}
.s-brdr {
  margin: 15px 0 15px;
}
.claire-calkin {
  justify-content: center;
  margin-right: auto;
}
.section2 {
  padding-bottom: 180px;
}
.blocks .block {
  max-width: 48%;
}
.blocks .block .hover-imgs .hover-img1 {
  max-width: 100px;
}
.blocks .block .hover-imgs .hover-img2 {
  max-width: 18px;
}
.blocks .block .hover-imgs a {
  right: 10px;
  bottom: 10px;
  width: 30px;
  height: 30px;
}
body {
  font-size: 14px;
}
.blocks .block h4 {
  font-size: 17px;
  margin: 15px 0 10px;
}
.blocks .block a {
  margin-top: 10px;
}
footer.footer .footer-top form {
  max-width: 100%;
}
footer.footer .footer-link li a {
  padding: 3px 0;
  margin-bottom: 5px;
  font-size: 13px;
}
footer.footer .footer-link {
  justify-content: space-evenly;
}

}
@media (max-width: 575px){
  .logo {
  margin: 0 auto;
  display: inline-block;
  text-align: center;
  width: 100%;
}
.navbar-light .navbar-toggler {
  margin: 10px auto;
}
.navbar-nav, .navbar-nav .dropdown-menu {
  text-align: center;
}
.blocks {
  justify-content: center;
}
.blocks .block {
  max-width: 90%;
}

}



